nav.box {
    display: inline-flex;
    justify-content: flex-end;
    flex-flow: row nowrap;
    width: 900px;
    align-items: center;
    margin: auto;
}

nav.box a {
    position: relative;
    width: auto;
    height: auto;
    left: 7%;
    font-size: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: black;
    padding: 0px 15px;
  }
  #bio-image {
    height: 350px;
    float: left;
    padding: 10px 25px 5px 25px;
}

body {
    background:lavender;
    margin: 0px;
    padding: 0px;
}

div.body {
    color:black;
    background-color: #ffffff;
    margin: auto;
    width: 960px;
    padding-bottom: 45px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 2;
}

div.navigation {
    width: 960px;
    margin: auto;
}

header {
    color: black;
    background-color: white;
    width: auto;
    display: block;
}

h1 {
    background-color: black;
    color: #ffffff;
    margin: 0 45% 0 0;
}

header h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    display: inline-block;
    padding: 20px;
}

.header {
    font-size: 30px;
    padding-bottom: 0px;
}

h2 {
    color: black;
    padding: 10px 0px 0px 22px;
}

p {
    padding: 5px 20px;
    margin:0px;
}
p.clear{
    clear: both;
    overflow: auto;
}

hr {
    width: 95%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    font-style: italic;
    text-align: center;
    background-color:white;
}

footer p {
    background-color: #666666;
    color: white;
    padding-top: 20px;
    font-size: 10px;
    padding-bottom: 25px;
}

div.portblock {
    display: inline-block;
    height: 300px;
    width:  300px;
    margin: 20px;
    background-color: black;
    border: gray 10px solid;
}

div.portbar{
    position: relative;
    background-color:white;
    text-align: center;
    color: black;
    top: 57%;
    padding: 15px;
}



@media (min-width: 768px) and (max-width: 980px) {
    .container {
        width: 50%;
        margin: auto;
        clear: both;
    }

@media (min-width: 641px) and (max-width: 768 px){
    .container {
        width: 50%;
        margin: auto;
        clear: both;
    }



@media (min-width: 10px) and (max -width: 640px;){
    .container {
        width: 50%;
        margin: auto;
        clear: both;
    }
